# R Cache
.Rprofile
.Rhistory
.RData

# Proprietary data that I shouldn't share publically
*.sdf
*.csv
*.xlsx
*.pptx
*.pdf
*.std
*.rtdf
*.summary
*.log
*.lnk
*.idea
*.txt
/R/ATE Data Reader/Data/*
/Python/ATE Data Reader/Data/*

# Temp Files
*~

# Because I don't need to include the entire RADAR/PySTDF libraries
/R/ATE Data Reader/RADAR Files/*
/Python/ATE Data Reader/pystdf-master/*